* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(255, 128, 0);
    height: 587px;
    width: 100%;
}


.item {
    background-color: rgb(255, 128, 0);
    height: 250px;
    width: 50%;
    margin: auto;
    border-radius: 20px;
}


h1 {
    font-size: 60px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}


#task {
    height: 43px;
    width: 320px;
    border: 0;
    padding-left: 10px;
}


#todo-text-area {
    text-align: center;
    height: 40px;
}


::placeholder {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 0;
}


#btn {
    height: 43px;
    width: 70px;
    border-radius: 0;
    background-color: #ff8000;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border: solid 2px white;
}

#btn:hover {
    transition: 0.5s;
    color: #ff8000;
    background-color: #ffffff;
}